@page "/advlist"

@using Newtonsoft.Json
@inject HttpClient Http

<div class="workblock">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h3>Список ВУЗов</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Идентификатор</th>
                        <th scope="col">Наименование ВУЗа</th>
                        <th scope="col">Номер телефона</th>
                        <th scope="col">Цена в USD</th>
                        <th scope="col">Курс</th>
                        <th scope="col">Цена в BYN</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in advs)
                    {
                        <tr>
                            <th scope="row">@x.id</th>
                            <td>@x.name</td>
                            <td>@x.phoneNumber</td>
                            <td>@x.priceUSD</td>
                            <td>@x.course</td>
                            <td>@x.priceBYN</td>
                        </tr>
                    }
                </tbody>
            </table>


        </div>
    </div>
</div>

@code {

    public List<Advertisment> advs;

    protected override async Task OnInitializedAsync()
    {

        advs = new List<Advertisment>();

        /*Advertisment adv1 = new Advertisment(1, "Jhon", "Golt", "Petrovich", "+48256698745", "kuklovod@wp.pl", 38, "Adv Text", 30.0f, 3.0f, 90.0f);
        Advertisment adv2 = new Advertisment(2, "Jhon", "Golt", "Petrovich", "+48256698745", "kuklovod@wp.pl", 38, "Second Adv Text", 30.0f, 3.0f, 90.0f);
        Advertisment adv3 = new Advertisment(3, "Jhon", "Golt", "Petrovich", "+48256698745", "kuklovod@wp.pl", 38, "Third Adv Text", 30.0f, 3.0f, 90.0f);
        advs.Add(adv1);
        advs.Add(adv2);
        advs.Add(adv3);*/


        advs = new List<Advertisment>();
        String jsonString = await Http.GetStringAsync("http://localhost:10000/api/Advertisments/GetList");

        Console.WriteLine(jsonString);
        advs = JsonConvert.DeserializeObject<List<Advertisment>>(jsonString);
    }


}
